.block {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    color: rgb(110, 148, 116);
    line-height: 30px;
}
.text {
    line-height: 20px;
}
.header {
    color: greenyellow;
    font-size: 30px;
    border: 8px;
}