html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.body {
    line-height: 1.3;
    font-family: 'Open Sans', sans-serif;
    color: #111;
    background-color: #F5F5F5;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1355px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  max-width: 1355px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Бургер-иконка */
.burger-icon {
    display: none;
    /* скрываем на десктопе */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
}

.burger-icon span,
.burger-icon::before,
.burger-icon::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 3px;
    border-radius: 15px;
    background-color: #fff;
    transition: all 0.5s ease;
}

.burger-icon::before {
    top: 5px;
}

.burger-icon::after {
    bottom: 4px;
}

/* Логотип */
.logo {
    height: 77px;
    width: auto;
    object-fit: contain;
}

/* Навигация */
.nav {
    align-items: center;
}

.nav__list {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav__item {
    /* display: flex; */
    gap: 20px;
}

.nav__link {
    color: #fff;
    font-family: 'NAMU Pro', sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.4;
    transition: color 0.5s ease;
    padding: 8px 12px;
    border-radius: 4px;
}

.nav__link:hover {
    color: #C5358C;
}

/* Корзина */
.shopping-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  color: #fff; /* ← это currentColor для SVG */
  transition: all 0.5s ease; /* ← плавность 0.4s */
}

.shopping-cart:hover {
  color: #C5358C; /* ← розовый цвет для SVG при ховере */
}

.hero {
  width: 100%;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 40px;
  box-sizing: border-box;
}

.hero__content {
  max-width: 420px;
}

.hero__title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
}

.hero__subtitle {
  color: #555;
  margin-bottom: 25px;
  line-height: 1.4;
}

.hero__button {
  display: inline-block;
  background: #d8388e;
  padding: 12px 22px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.hero__img img {
  max-width: 733px;
  height: auto;
  display: block;
}







/* Адаптив */

@media (max-width: 768px) {
  .container {
    padding: 0;
  }
  /* Уменьшаем высоту хедера */
  .header__inner {
    height: 76px;
    padding: 0 70px;
  }

  /* Бургер — показываем */
  .burger-icon {
    display: flex;
  }

  /* Анимация бургера → × */
  .burger-icon.burger-icon--active span {
    opacity: 0;
  }

  .burger-icon.burger-icon--active::before {
    transform: rotate(45deg) translate(4px, 4px);
  }

  .burger-icon.burger-icon--active::after {
    transform: rotate(-45deg) translate(4px, -4px);
  }

  /* Логотип — уменьшаем */
  .logo {
    height: 60px;
    margin: 0 374px 0 40px;
  }

  /* Навигация — скрываем */
  .nav {
    display: none;
  }

  /* Корзина — позиционируем вправо */
  .shopping-cart {
    width: 32px;
    height: 32px;
  }

  .shopping-cart svg {
    width: 31px;
    height: 31px;
  }
}

@media (max-width: 390px) {

  .header__inner {
    height: 47px;
    padding: 0 25px;
  }

  .logo {
    height: 39px;
    margin: 0 164px 0 25px;
  }

  .shopping-cart svg {
    width: 24px;
    height: 24px;
  }
}