<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/7_122761.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/style.css">
  <title>QYRAJE lesson37 </title>
</head>

<body>
  <picture>
    <source srcset="img/puppy-1200x800.webp" type="image/webp">
    <img src="img/puppy-1200x800.jpg" alt="Щенок">
  </picture>
</body>

</html>