@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../nova/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../nova/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'),
        url('../nova/fonts/OpenSans-Light.woff2') format('woff2'),
        url('../nova/fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
        url('../nova/fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../nova/fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'NAMU Pro';
	src: local('NAMU Pro'), local('NAMU Pro'),
        url('../fonts/namu_pro.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/namu_pro.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
}