<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="free-icon-font-atom-6422217.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <title>QYRAJE lesson13</title>
</head>

<body>


  <!-- Сайт aroken.ru -->


  <header>
    <nav></nav>
  </header>
  <main>
    <article>
      <section></section>
      <section></section>     
      <section></section>
    </article>
    <article>
      <img src="" alt="">
      <section></section>
    </article>
    <section></section> 
    <section></section>
    <section>
      <section></section>
      <section></section>
      <section></section>
    </section>
    <article>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
    </article>
    <section></section>
    <article>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
    </article>
    <section>
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
    </section>
    <article>
      <img src="" alt="">
      <section></section>
    </article>
    <article>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
    </article>
    <section></section>
    <article>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
    </article>
    <article>
      <section></section>
      <section></section>
      <section></section>
    </article>
    <section></section>
    <section></section>
    <article>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
    </article>
  </main>
  <footer>
    <nav></nav>
  </footer>


  <!-- Сайт https://worldofwarcraft.blizzard.com -->


  <header>
    <nav></nav>
  </header>
  <main>
    <article>
      <nav></nav>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
    </article>
    <section></section>
    <section></section>
    <section></section>
    <section></section>
    <section></section>
    <section></section>
  </main>
  <footer>
    <nav></nav>
  </footer>


  <!-- Сайт https://www.litres.ru -->


  <header>
    <nav></nav>
  </header>
  <main>
    <article>
      <section></section>
      <section></section>
      <section></section>
    </article>
    <article>
      <article></article>
      <article></article>
      <article></article>
      <article></article>
      <article></article>
      <article></article>
      <article></article>
    </article>
    <article>
      <article></article>
      <article></article>
      <article></article>
      <article></article>
      <article></article>
      <article></article>
      <article></article>
    </article>    <article>
      <article></article>
      <article></article>
      <article></article>
      <article></article>
      <article></article>
      <article></article>
      <article></article>
    </article>
    <!-- И так далее... -->
  </main>
  <footer>
    <nav></nav>
  </footer>


  <!-- Сайт https://developer.mozilla.org/ru/docs/Web/HTML -->


  <header>
    <nav></nav>
    <nav></nav>
  </header>
  <aside>
    <nav></nav>
  </aside>
  <main>
    <article>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
    </article>
  </main>
  <aside>
    <nav></nav>
  </aside>
  <footer>
    <nav></nav>
  </footer>
</body>

</html>