:root {
    --general-bg: #FFF9F4;
    --general-text: #312C27;
    --accent-color: #7678dd;
    --input-color: #6a81cf;
    --accent-color-2: #CEAAD0;
    --accent-bg: #6ecaa4;
    --title-text: #1F1711;
    --transition: all .5s;
    --border-radius: 20px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.body {
    line-height: 1.5;
    font-family: "Montserrat", "Arial", sans-serif;
    color: var(--general-text);
    background: var(--general-bg);
}

.body--opened-menu {
    overflow: hidden;
}

.body--opened-modal {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.main__about {
    padding: 140px 0;
}

.main__program,
.main__gallery,
.main__testimonials {
    padding-bottom: 140px;
}

.container {
    max-width: 1310px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    color: var(--title-text);
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: .82;
}

.button {
    font-weight: 500;
    line-height: 1.6;
    border-radius: 60px;
    background-color: var(--accent-color);
    height: 62px;
    display: flex;
    pad: 5px 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 16px;

    transition: var(--transition);
}

.button:hover {
    background-color: #5bb64f;
}

.modal {
    position: fixed;
    inset: 0;
    background: #00000044;
    z-index: 10;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    position: relative;
    background: var(--general-bg);
    border-radius: var(--border-radius);
    padding:  60px;
    max-width: 428px;
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__cancel path,
.modal__cancel rect {
    transition: var(--transition);
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: var(--input-color);
}

.modal__img {
    margin: -65px 0 15px 12px;
    max-width: 100%;
}

.modal__title {
    color: var(--title-text);
    font-family: 'Gabriola';
    font-size: 42px;
    line-height: .9;
    margin-bottom: 10px;
}

.modal__text {
    margin-bottom: 30px;
}

.modal__form-label {
    margin-bottom: 10px;
}

.field {
    position: relative;
    display: block;
}

.field span {
    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;
    color: var(--input-color);

    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.field__input {
    display: block;
    width: 100%;
    border: 1px solid var(--input-color);
    background: #00000000;
    border-radius: 100px;
    padding: 19px 42px 19px 28px;
    font-size: 16px;

    transition: var(--transition);
}

.field__input:hover {
    border-color: var(--accent-color);
}

.field__input::placeholder {
    color: var(--input-color);

    transition: var(--transition);
}

.field__input:hover::placeholder {
    color: var(--accent-color);
}

.field__input:focus {
    padding: 26px 42px 12px 28px;
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;
}