.header {
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.header__hero {
    padding: 60px 0 140px;
}

.header__top {
    padding-top: 20px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    max-width: 175px;
    z-index: 11;
}

.header__logo img {
    width: 100%;
}

.nav {
    display: block;
}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__link {
    display: block;
    padding: 10px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    background-color: var(--accent-color);
    border-radius: 50%;

    opacity: 0;
    transition: var(--transition);
}

.nav__link:hover::before {
    opacity: 1;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    transition: var(--transition);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: 8px;
}

.burger-icon span::after {
    bottom: 8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}


/* ============================HERO============================= */

.hero {
    padding: 60px 0 140px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 65px;
}

.hero__subtitle {
    color: #B197B2;
    line-height: 1.6;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.hero__subtitle span {
    display: flex;
    align-items: center;
}

.hero__subtitle span::after {
    content: '';
    display: block;
    background-color: #B197B2;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 0 10px;
}

.hero__subtitle span:last-child:after {
    display: none;
}

.hero__title {
    max-width: 520px;
    margin-bottom: 30px;
}

.hero__text {
    max-width: 360px;
    margin-bottom: 40px;
}

.hero__button {
    max-width: 360px;
    width: 100%;
}

.hero__img {
    margin-right: 250px;
    position: relative;
}

.hero__img>img {
    width: 100%;
}

.hero__img-controls {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 10px;
    max-width: 53.1%;
    bottom: 11%;
    left: calc(100% - 39px);
}

.hero__img-controls--mobile {
    display: none;
}

.hero__img-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    background-color: #6ecaa4;
    filter: drop-shadow(0px 4px 20px rgba(184, 148, 126, 0.30));
    border-radius: 50%;

    position: relative;
}

.hero__img-button img {
    position: relative;
    top: -0.4%;
    left: 3%;
    width: 26px;
    height: 28px;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    width: 68px;
    height: 68px;
    border-radius: 68px;
    border: 1px solid var(--accent-color);

    transition: all 0.5s;
    opacity: 0;
}

.hero__img-button:hover::before {
    opacity: 1;
}
