@import "reset.css";
@import "fonts.css";

:root {
    --general-bg: #040914;
    --general-text: #fff;
    --accent-color: #D3F85A;
    --input-color: #243E57;
    --accent-bg: #ffffff0d;
    --transition: all .5s;
    --border-radius: 50px;
}

.body {
    line-height: 2.3;
    font-family: "Exo 2", "Saira", "Rubik", "Roboto", sans-serif;
    color: var(--general-text);
    background: var(--general-bg);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1310px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}