@import "reset.css";
@import "fonts.css";
@import "global.css";

@import "header.css";

/* =========================МЭЙН======================== */

.about__inner {
    display: grid;
    gap: 40px 53px;
    grid-template-columns: 1fr 1.05fr;
    grid-template-rows: repeat(2, auto);
}

.about__img {
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    grid-row: 1/-1;
}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}

.about__img-controls {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 10px;
    max-width: 300px;
    bottom: 4.6%;
    left: 4.7%;
    padding: 15px 20px;

    background: #957b97e6;
    border-radius: var(--border-radius);
    color: var(--general-bg);
}

.about__img-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    background-color: var(--general-bg);
    border-radius: 50%;

    position: relative;
}

.about__img-button::before {
    content: '';
    position: absolute;
    width: 68px;
    height: 68px;
    border-radius: 68px;
    border: 1px solid #ceaad0;

    transition: all 0.5s;
    opacity: 0;
}

.about__img-button:hover::before {
    opacity: 1;
}

.about__heading {
    margin-bottom: 30px;
}

.about__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

.about__grid-item {
    display: flex;
    gap: 15px;
    background: var(--accent-bg);
    border-radius: var(--border-radius);
    padding: 29px 24px;
    align-items: center;
}

.about__grid-img {
    border: 1px solid var(--general-text);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ================================================= */

.program__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 30px;
}

.program__title {
    margin-bottom: 20px;
}


.program__tab-content {
    margin-bottom: 40px;
}

.program__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.program__action {
    display: grid;
    grid-template: repeat(3, auto) / 1.65fr 1fr;
    gap: 40px;
    max-width: 501px;
    width: 100%;
    flex-shrink: 0;
}

.program__discount {
    font-size: 20px;
    background: var(--accent-bg);
    border-radius: var(--border-radius);
    padding: 40px;
    grid-row: 1 / 3;
}

.program__discount-value {
    font-family: "Gabriola";
    font-size: 74px;
    line-height: .82;
    color: var(--accent-color);
    transform-origin: 0 0;
    margin: 0 0 7px 13%;

    animation: discount-grow .8s linear infinite alternate;
}

@keyframes discount-grow {
    0% {
        transform: scale(1);
        color: var(--accent-color);
    }

    100% {
        transform: translateX(3%) scale(1.1);
        color: #ff9138;
    }
}

.program__discount span {
    font-size: 16px;
    margin-left: 35%;
}

.program__price-text {
    line-height: 1.6;
    text-transform: uppercase;
    color: #CEAAD0;
    margin-bottom: 5px;
}

.program__price-value {
    font-family: 'Gabriola';
    font-size: 32px;
    line-height: .9;
}

.program__price-value--big {
    font-size: 50px;
    color: var(--accent-text);
    text-wrap: nowrap;
}

.program__button {
    grid-column: 1/-1;
}

.program__img img {
    width: 100%;
}

.tab-controls {
    display: flex;
    flex-direction: row;
    gap: 27px;
}

.tab-controls__link {
    display: block;
    padding: 14px 30px;
    box-shadow: 0 4px 20px 0 #cec3b94d;
    border-radius: 100px;
    white-space: nowrap;

    transition: var(--transition);
}

.tab-controls__link:hover {
    background: var(--accent-bg);
}

.tab-controls__link--active {
    background: var(--accent-bg);
    box-shadow: 0 4px 20px 0 #cec3b900;
}


.tab-content {
    display: none;
}

.tab-content--active {
    display: block;
}

.accordion-list__item {
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);

    margin-bottom: 30px;
}

.accordion-list__item:last-child {
    margin-bottom: 0;
}

.accordion-list__control {
    padding: 40px 30px;
    width: 100%;
    background: transparent;
    text-align: left;

    display: flex;
    justify-content: space-between;
    gap: 15px;

    color: var(--title-text);
    font-family: 'Gabriola';
    font-size: 42px;
    line-height: 90%;

    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control {
    padding-bottom: 20px;
}


.accordion-list__control-icon {
    width: 36px;
    height: 36px;
    border: 1.50px solid var(--accent-color);
    border-radius: 100px;

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    transition: var(--transition);
}

.accordion-list__control-icon svg {
    margin-left: 2px;
}

.accordion-list__control-icon path {
    transition: var(--transition);
}

.accordion-list__control:hover .accordion-list__control-icon {
    background: var(--accent-color);
    transform: rotate(90deg);
}

.accordion-list__control:hover .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__item--opened .accordion-list__control-icon {
    background: var(--accent-color);
    transform: rotate(90deg);
}

.accordion-list__item--opened .accordion-list__control-icon path {
    fill: var(--general-bg);
}




.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.accordion-content {
    padding: 0 30px 40px;
    display: flex;
    gap: 80px;
}

.accordion-content__col:first-child {
    max-width: 507px;
    width: 100%;
}

.accordion-content__title {
    color: #ceaad0;
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 20px;
}


.accordion-content__item {
    margin-bottom: 20px;
    display: flex;
}

.accordion-content__item:last-child {
    margin-bottom: 0;
}

.accordion-content__icon {
    width: 24px;
    height: 24px;
    border: 1px solid #ceaad0;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    flex-shrink: 0;
}

.accordian-content__text {
    max-width: 274px;
}

/* ================================================= */



/* ================================================= */

@import "footer.css";
@import "media.css";