body {
    background: rgb(54, 53, 53);
}

.title {
    font-family: sans-serif;
    font-size: 75px;
    font-weight: normal;
    color: white;
    position: absolute;
    left: 40vw;
}

.title::before {
    content: '';
    position: absolute;
    background: rgb(65, 65, 255);
    left: -45%;
    top: -5%;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 5px solid #fff;
}

.title::after {
    content: '';
    position: absolute;
    background: rgb(253, 94, 94);
    right: -45%;
    top: -5%;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 5px solid #fff;
}

.title:active::before {
    background: rgb(253, 94, 94);
}
.title:active::after {
    background: rgb(65, 65, 255);
}
